body{
  font-family: "Lucida Console", "Lucida Sans Unicode", "Courier New";
  color:white;
  background-color: #1f1b32;
}

a{
  color:inherit; 
  font-weight: inherit;
  text-decoration: inherit;
}

#sidebar{
  margin: 5%;
  margin-top: 0.5%;

}

#terminal{
  margin:5%;
}

@media(min-width:1024px){
  #sidebar{
    flex-basis: 20%;
    margin:2%;
    margin-top:0.5%;
    height: 100%;
  }

  #terminal{
    flex-basis: 72%;
    flex-direction: row;
    margin-top:2%;
    margin-right: 2%;
    margin-left: auto;
    margin-bottom: auto;
  }

  body{
      overflow-x:hidden;
  }
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#sidebar h1{
  color: #cf5f68;
  font-size: 52px;
}

@media(max-width:1024px){
  #sidebar h1{
    font-size: 10vw;
  }
}

#profile{
  max-width: 100%;
  z-index:2
}

#intro{
  color: #cf5f68;
  text-align: justify;
}

#prompt{
  float:left;
  width:auto;
  font-size: 22px;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #191a23;
  color: #edcb53;
  border: none;
}

#txtBox{
  float:left;
  width:auto;
  font-size: 22px;
  vertical-align: middle;
  background-color: #191a23;
  color: #87c2c4;
  border: none;
  box-sizing: border-box;
}

#Copyright{
  color: #373b41;
  margin:2%;
}

#injected{
  font-size: 15px;
  color: white;
  text-align: justify;
  margin-top:2%;
}

#injected ul{
  list-style: none;
}

#injected li, th, td {
    padding-right: 45px;
    padding-left: 25px;
    padding-top: 7px;

    text-align: left;
}

#userInput{
  margin-top: 20px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;

  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #cf5f68
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #edcb53;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}